@media (max-width:1510px){
    html{
        font-size: 60%;
    }
    header > .text-content{
        font-size: 2rem;
        padding: 30rem 0;
    }
    header > .advice > .btn{
        width: 15%;
        padding: 1.5rem 0;
    }
}
@media( max-width:1200px){
html{
    font-size: 60%;
}
/*Header*/
header > .text-content{
    font-size: 2rem;
    padding: 30rem 0;
}
header > .advice{
    padding: 3rem;
    justify-content: space-around;
}
header > .advice> .text{
margin-right: 0;
padding: 1rem;
}
header > .advice > .btn{
    width: 15%;
    padding: 1.5rem 0;
}}

@media( max-width:992px){
html{
    font-size: 57.5%;
}
/* Navbar */
.navigation{
    top: -20px;
}
.navigation > .logo{
    width: 60%;
}
.navigation > .nav{
    width: 40%;
}
/*Header*/
header > .text-content{
    font-size: 2rem;
    padding: 30rem 0;
}
header > .advice{
    padding: 3rem;
    flex-direction: row;
    justify-content: space-around;
}
header > .advice> .text{
margin-right: 0;
padding: 1rem;
}
header > .advice > .btn{
    width: 15%;
    padding: 1.5rem 0;
}
}

@media( max-width:768px){
    html{
        font-size: 54%;
    }
    /*Navbar*/
    .navigation{
        top: -20px;
    }
    .navigation > .nav-btn{
        display:inline-block;
        position:absolute;
        right:10px;
        top:10px;
    }
    .navigation>.nav-btn > label{
        display:inline-block;
        width:50px;
        height:50px;
        padding:20px
    }
    .navigation > .nav-btn > label > span{
        display:block;
        width:25px;
        height:10px;
        border-top:2px solid #eee;
        cursor: pointer;
    }
    
    .fa-bars{
        display: none;
    }
    .nav > .nav-menu{
        position:absolute;
        display: flex;
        flex-direction: column;
        width:100%;
        background-color:var(--main-color);
        transition:all .3s ease-in;
        overflow-y:hidden;
        top:50px;
        left:0;
    }
    .navigation > .nav > .nav-menu > .nav-item{
        display: block;
        margin: 5rem 0;
        width: 100%;
        padding: 1rem 0;
    }
    .navigation > .nav > .nav-menu > .nav-item:hover{
        background-color: #eee;
    }
    .navigation > .nav > .nav-menu > .nav-item >.nav-link:hover{
        color: var(--main-color);
        border-bottom: 0;
    }
    .navigation #nav-check:not(:checked) ~ .nav>.nav-menu{
        height:0;
    }
    .navigation #nav-check:checked ~ .nav >.nav-menu{
        height:100vh;
        overflow-y:auto;
    }
    .navigation > .logo{
        width: 85%;
    }
    
    /*Header*/
    header > .text-content{
        font-size: 2rem;
        padding: 30rem 0;
    }
    header > .advice{
        padding: 3rem;
        align-items: center;
        flex-direction: column;
    }
    header > .advice> .text{
    margin-right: 0;
    padding: 1rem;
    }
    header > .advice > .btn{
        width: 15%;
    }
}

@media( max-width:600px){
html{
    font-size: 50%;
}
/*Navbar*/
.navigation{
    top: -20px;
}
.navigation > .nav-btn{
    display:inline-block;
    position:absolute;
    right:10px;
    top:10px;
}
.navigation>.nav-btn > label{
    display:inline-block;
    width:50px;
    height:50px;
    padding:20px
}
.navigation > .nav-btn > label > span{
    display:block;
    width:25px;
    height:10px;
    border-top:2px solid #eee;
}

.fa-bars{
    display: none;
}
.nav > .nav-menu{
    position:absolute;
    display: flex;
    flex-direction: column;
    width:100%;
    background-color:var(--main-color);
    transition:all .3s ease-in;
    overflow-y:hidden;
    top:50px;
    left:0;
}
.navigation > .nav > .nav-menu > .nav-item{
    display: block;
    margin: 5rem 0;
    width: 100%;
    padding: 1rem 0;
}
.navigation > .nav > .nav-menu > .nav-item:hover{
    background-color: #eee;
}
.navigation > .nav > .nav-menu > .nav-item >.nav-link:hover{
    color: var(--main-color);
    border-bottom: 0;
}
.navigation #nav-check:not(:checked) ~ .nav>.nav-menu{
    height:0;
}
.navigation #nav-check:checked ~ .nav >.nav-menu{
    height:100vh;
    overflow-y:auto;
}
.navigation > .logo{
    width: 85%;
}
/*Header*/
header > .text-content{
    font-size: 2rem;
    padding: 30rem 0;
}
header > .advice{
    padding: 3rem;
    align-items: center;
    flex-direction: column;
}
header > .advice> .text{
margin-right: 0;
padding: 1rem;
}
header > .advice > .btn{
    width: 20%;
    padding: 1.2rem 0;
}
}