:root{
    --main-color:#0a264d;
    --shade-of-blue:#11476b;
    --font-color:#555;
    --gray:#ddd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    line-height: 1.5;
    font-family: 'Open Sans',sans-serif;
    color: var(--font-color);
}
.container{
    width: 80%;
    margin: 0 auto;
}
.btn{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    /* width: 10%; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--main-color);
    font-size: 1.2rem;
    padding: .5rem 0 .5rem;
    height: 50px;
    margin: .5rem 0;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
}
.btn:hover{
    background-color: var(--shade-of-blue);
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}
.text{
    font-size: 1.5rem;
}
/*Navigation*/
.navigation{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height:75px;
}
.navigation > .logo{
    width: 65%;
    text-align: center;
    background-color: var(--shade-of-blue);
    /* clip-path: ellipse(54% 100% at 46% 0%); */
    clip-path: ellipse(51% 100% at 50.22% 0%);
    z-index: 1;
    padding: 1rem;
}
.navigation > .logo >.insider{
    clip-path: ellipse(48% 100% at 48% 0%);
    background-color: #fff
}
.navigation > .logo >.insider> img{
    width: 25%;
}
.navigation .nav-btn,
.navigation > #nav-check{
    display:none;
    z-index: 1;
}
.navigation >.nav{
    width: 35%;
    padding-right: 7rem;
}
.navigation > .nav > .nav-menu{
list-style: none;
font-size: 1.2rem;
text-transform: uppercase;
text-align: center;
}
.navigation > .nav > .nav-menu > .nav-item{
    display: inline-block;
    padding-left: 1.5rem;
    color: #fff;
}
.navigation > .nav > .nav-menu > .nav-item >.nav-link{
    text-decoration: none;
    color: #fff;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.navigation > .nav > .nav-menu > .nav-item >.nav-link:hover{
    border-bottom: 2px solid #ccc;
    color: #ccc;
}
/*Header*/
header{
    height: 100vh;
    /* background:linear-gradient(rgba(0, 4, 19, 0.6),rgba(1, 4, 20, 0.6)),url('../images/back.jpg'); */
    background:linear-gradient(rgba(17, 71, 107, .5),rgba(17, 71, 107, .5)),url('../images/back.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header .text-content{
    color: #fff;
    padding:15rem 3rem 0rem;
    height: 65%;
    width: 80%;
}
header > .text-content> h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
header > .text-content > .text{
    font-weight: 300;
}
header > .slider-points{
height: 20%;
}
.dot{
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    padding-left: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
header > .slider-points>.active{
    height: 15px;
    width: 15px;
}
header > .advice{
    width: 100%;
    height: 15%;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
header > .advice > .btn{
display: inline-block;
width: 15%;
}
header > .advice > .text{
display: inline-block;
margin-right: 10rem;
}