:root{
  --main-color:rgb(32, 75, 111);
  --shade-of-blue:#1f5474;
  --font-color:#555;
  --gray:#ddd;
  --hover-color:#e44c4c;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  line-height: 1.7;
  font-family: 'Open Sans',sans-serif;
  color: var(--font-color);
}
.container{
  width: 80%;
  margin: 0 auto;
}
.secondry-header{
  font-size: 2.2rem;
  margin: 3rem 0 0;
  text-transform: uppercase;
}
.btn{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background:linear-gradient(rgb(10, 38, 77),rgb(17, 71, 107));
  font-size: 1.6rem;
  padding: 1rem 0 1rem;
  height: 50px;
  margin: .5rem 0;
  transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
}
.btn:hover{
  background: var(--shade-of-blue);
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}
.text{
  font-size: 1.7rem;
  line-height: 1.7;
}
/*Navigation*/
/*********************************/
.navigation{
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height:75px;
}
.navigation > .logo{
  width: 65%;
  text-align: center;
  background-color: var(--shade-of-blue);
  clip-path: ellipse(57% 100% at 45.31% 0%);
  z-index: 1;
}
.navigation > .logo >.insider{
  clip-path: ellipse(48% 100% at 48% 0%);
  background-color: #fff
}
.navigation > .logo >.insider> img{
  width: 25%;
}
.navigation .nav-btn,
.navigation > #nav-check{
  display:none;
  z-index: 1;
}
.navigation >.nav{
  width: 35%;
  padding-right: 7rem;
}
.navigation > .nav > .nav-menu{
list-style: none;
font-size: 1.6rem;
text-transform: uppercase;
text-align: center;
}
.navigation > .nav > .nav-menu > .nav-item{
  display: inline-block;
  padding-left: 1.5rem;
  color: #fff;
}
.navigation > .nav > .nav-menu > .nav-item >.nav-link{
  text-decoration: none;
  color: #fff;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}
.navigation > .nav > .nav-menu > .nav-item >.nav-link:hover{
  border-bottom: 2px solid var(--hover-color);
  color: var(--hover-color);
}
/*Header*/
/**********************************/
header{
  height: 100vh;
  background:linear-gradient(rgba(0, 4, 19, 0.6),rgba(1, 4, 20, 0.6)),url('../images/back.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 7rem;
}
header .text-content{
  color: #fff;
  padding:30rem 3rem 0rem;
  width: 80%;
}
header > .text-content> h1{
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.dot{
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  padding-left: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
header > .slider-points>.active{
  height: 15px;
  width: 15px;
}
header > .advice{
  width: 100%;
  height: 15%;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
}
header > .advice > .btn{
display: inline-block;
width: 15%;
}
header > .advice > .text{
display: inline-block;
margin-right: 10rem;
}
/*About Section*/
/***********************************************/
.about{
  margin-bottom: 5rem;
} 
.about > .container{
  border-bottom: 2px solid var(--gray);
  margin-bottom: 5rem;
}
.about > .container > .about-box{
  display: flex;
  margin-bottom: 6rem;
}
.about > .container > .about-box > .service{
  text-align: center;
  margin: 0 3rem 0;
  padding: 2rem;
}
.about > .container > .about-box > .service > .icon-div{
  background:linear-gradient(to top,rgb(17, 71, 107),rgb(10, 38, 77),rgb(17, 71, 107));
  color: #fff;
  font-size: 4rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  height: 16rem;
  width: 14rem;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about > .container > .about-box > .service > .text-div > .text{
margin-top: 2rem;
}
/*Blog Section*/
/***************************************/
.blog{
  margin-bottom: 7rem;
}
.secondry-news:first-child{
  grid-area: second;
}
.secondry-news:nth-child(2){
  grid-area: third;
}
.secondry-news:last-child{
  grid-area: fourth;
}
.blog > .container > .news-container{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: repeat(3,1fr); 
  gap: 15px 15px; 
  grid-template-areas: 
  "Main-news second"
  "Main-news third"
  "Main-news fourth"; 
}
.blog > .container > .secondry-header{
  margin: 7rem 0 3rem;
}
.Main-news { 
  grid-area: Main-news; 
}
.Main-news > .img-div > img{
  width: 100%;
}
.Main-news > .text-div > h3{
    font-size: 2rem;
  text-transform: capitalize;
  margin: 1rem 0;
}
.Main-news > .text-div > .text{
  text-align: justify;
  margin-bottom: 2.5rem;
}
.Main-news > .text-div > .read-btn{
  text-decoration: none;
  font-size: 1.7rem;
  font-style: italic;
  color: var(--shade-of-blue);
  font-weight: 600;
  float: right;
  margin-bottom:-.5rem ;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
.Main-news > .text-div > .read-btn:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  color:var(--hover-color);
}
.secondry-news > .img-div{
  float: left;
  width: 45%;
  height: 100%;
  margin-right: 1rem;
}
.secondry-news > .img-div >img{
  width: 100%;
  height: 100%;
}
.secondry-news > .text-div{
  width: 50%;
  height: 100%;
  float: right;
  position: relative;
}
.secondry-news > .text-div > h3{
  font-size: 2rem;
  text-transform: capitalize;
  margin: 0 0 1rem;
}
.secondry-news > .text-div > .text{
  font-size: 1.2rem;
  text-align: justify;
  margin-bottom: 1rem;
}
.secondry-news > .text-div > .read-btn{
  text-decoration: none;
  font-size: 1.7rem;
  font-style: italic;
  color: var(--shade-of-blue);
  font-weight: 600;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  position: absolute;
  bottom: 0;
  right: 0;
}
.secondry-news > .text-div > .read-btn:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  color: var(--hover-color);
}
/* Contact section */
/***************************/
.contact{
  background-color: var(--gray);
  clip-path: ellipse(85% 100% at 40.52% 100%);
}
.contact > .fluid-container{
  background-color: var(--shade-of-blue);
  height: 100%;
  clip-path: ellipse(90% 98% at 32.8% 100%);
  padding: 5rem;
}
.box{
  display: flex;
  color: #fff;
  align-items: center;
}
.box > .logo{
  width: 25%;
  margin: 5rem 5rem 3rem 0;
}
.box > .logo > img{
  width: 100%;
  opacity: .5;
}
.box > .simpl-nav{
  width: 15%;

}
.box > .simple-nav > h3{
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.box > .simple-nav > .nav-link{
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  margin: 1rem 0;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
.box > .simple-nav > .nav-link:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  color: var(--hover-color);
}
.box > .simple-nav > .nav-link:first-child{
  margin-top: -.3rem;
}
.box > .gallery{
  width: 25%;
  margin-left: 5rem;
}
.box > .gallery > h3{
  font-size: 1.7rem;
  text-transform: uppercase;
}
.box > .gallery > .grid-box{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  row-gap: 10px;
  column-gap: 10px;
  padding-top: 1.5rem;
}
.box >.gallery > .grid-box > a >img{
  width: 75px;
  height: 60px;
  opacity: .8;
  border: 3px solid #fff;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
.box >.gallery > .grid-box > a >img:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  opacity: 1;
}
.box > .social{
  width: 22%;
  margin: 0 0 1rem 5rem;
}
.box > .social > .subscribing> h3{
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.box > .social > .subscribing> input{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  padding: 5px;
  height: 4rem;
  width: 200px;
}
.box > .social > .subscribing> input:focus{
  box-shadow: 1px 1px 5px var(--hover-color);
  outline: inset var(--hover-color);
}
.box > .social > .subscribing> span{
  background-color: rgba(255,255,255,.5);
  width: 3rem;
  height: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
.box > .social > .subscribing> span:hover{
  background-color: var(--hover-color);
}
.box > .social > .follow{
  font-size: 1.8rem;
  margin-top: 2rem;
}
.box > .social > .follow > i{
  padding-right: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
.box > .social > .follow > i:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  color: var(--hover-color);
}
.info{
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 2rem 0;
  font-weight: 300;
}
.info > .terms >.text> a{
color: #fff;
padding:0 .5rem;
font-weight: 300;
text-transform: capitalize;
letter-spacing: 1px;
}